<!DOCTYPE html>
<html lang="es">
<head>
    <title>Página principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {{ font_awesome.load_js() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <style>
        body {
            background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
          }
          html, body {
            height: 100%;
            margin: 0;
          }
          .card {
            max-width: 100%;
            margin: 0 auto;
          }
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>    
    <div class="container pt-5 my-5">
        <div class="card bg-dark text-white my-5" style="border-radius: 1rem;">
          <div class="card-body pb-5 text-left">
            <div class="container mt-2 px-3">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Username</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                        <tr>
                            <td>{{ admin.first_name }} {{ admin.last_name }}</td>
                            <td>{{ admin.username }}</td>
                            <td>Administrador</td>
                            <td>
                                {% if admin.username == admin_username %}
                                    <button class="btn fa-solid fa-pen-to-square edit-button" onclick="modifyAdmin(event)" style="color: white;">Edit</button>
                                {% else %}
                                    <button class="btn fa-solid fa-pen-to-square edit-button" onclick="modifyAdmin(event)" style="color: white;">Edit</button>
                                    <button class="btn btn-danger" onclick="deleteAdmin(event)">Delete</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% for doctor in doctors %}
                        <tr>
                            <td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
                            <td>{{ doctor.username }}</td>
                            <td>Doctor</td>
                            <td>
                                <button class="btn fa-solid fa-pen-to-square edit-button" onclick="modifyDoctor(event)" style="color: white;">Edit</button>
                                <button class="btn btn-danger" onclick="deleteDoctor(event)">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for patient in patients %}
                        <tr>
                            <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                            <td>{{ patient.username }}</td>
                            <td>Paciente</td>
                            <td>
                                <button class="btn fa-solid fa-pen-to-square edit-button" onclick="modifyPatien(event)" style="color: white;">Edit</button>
                                <button class="btn btn-danger" onclick="deletePatient(event)">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
<script>
    function getData(event) {
        const clickedButton = event.target;
        const tableRow = clickedButton.closest('tr');
        const tableCells = tableRow.querySelectorAll('td');
        const rowData = {};
        for (let i = 0; i < tableCells.length; i++) {
            const cellText = tableCells[i].textContent.trim();
            rowData[i] = cellText;
        }
        return rowData;
    };
    function modifyPatien(event){
        const username = getData(event)[1];
        window.location.href = `/modify/patient-`+username;
    }
    function modifyAdmin(event){
        const username = getData(event)[1];
        window.location.href = `/modify/admin-`+username;
    }
    function modifyDoctor(event){
        const username = getData(event)[1];
        window.location.href = `/modify/doctor-`+username;
    }
    function deletePatient(event){
        const username = getData(event)[1];
        const confirmDelete = confirm("¿Estás seguro de que deseas eliminar a este paciente?");
        if (confirmDelete) {
            window.location.href = `/delete/patient-`+username;
        }
    }
    function deleteAdmin(event){
        const username = getData(event)[1];
        const confirmDelete = confirm("¿Estás seguro de que deseas eliminar a este administrador?");
        if (confirmDelete) {
            window.location.href = `/delete/admin-`+username;
        }
    }
    function deleteDoctor(event){
        const username = getData(event)[1];
        const confirmDelete = confirm("¿Estás seguro de que deseas eliminar a este doctor?");
        if (confirmDelete) {
            window.location.href = `/delete/doctor-`+username;
        }
    }
</script>
