<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1>Register</h1>
        <form method="post" class="row g-3">
            <div class="col-md-6">
                <label for="user_type" class="form-label">Tipo de usuario:</label>
                <select id="user_type" name="user_type" class="form-select" required>
                    <option value="admin">Admin</option>
                    <option value="doctor">Doctor</option>
                    <option value="patient">Paciente</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="col-md-12">
                <label for="last_name" class="form-label">Apellidos:</label>
                <input type="text" id="last_name" name="last_name" class="form-control" required>
            </div>
            <div class="col-md-6"> <label for="username" class="form-label">Nombre de usuario:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="col-md-6"> <label for="password" class="form-label">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="col-md-12" id="patientFields" style="display: none;">
                <div class="row">
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Genero:</label>
                        <select id="gender" name="gender" class="form-select" required>
                            <option value="M" selected>Hombre</option>
                            <option value="F">Mujer</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="birth_date" class="form-label">Fecha de nacimiento:</label>
                        <input type="date" id="birth_date" name="birth_date" class="form-control" {% if user_type == 'patient' %}required{% endif %} max="2009-12-31" value="1999-01-01">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="doctor_id" class="form-label">ID del doctor:</label>
                        <select id="doctor_id" name="doctor_id" class="form-select" {% if user_type == 'patient' %}required{% endif %}>
                            <option value="" disabled>Select a doctor</option>
                            {% for doctor in doctorNames %}
                                <option value="{{ doctor.id }}">{{ doctor.first_name }} {{ doctor.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="handedness" class="form-label">Mano dominante:</label>
                        <select id="handedness" name="handedness" class="form-select" {% if user_type == 'patient' %}required{% endif %}>
                            <option value="right" selected>Derecha</option>
                            <option value="left">Izquierda</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Registrar" class="btn btn-primary">
            </div>
        </form>
    </div>
    <script>
        const userTypeSelect = document.getElementById('user_type');
        const patientFields = document.getElementById('patientFields');
        userTypeSelect.addEventListener('change', () => {
            const selectedUserType = userTypeSelect.value;
            patientFields.style.display = selectedUserType === 'patient' ? 'block' : 'none';
        });
    </script>
</body>
</html>